<nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
        {% set navEntries = [{title: 'About', url: 'about-page'}, {title: 'Obedience', url: 'obedience'}, {title: 'Contact', url: 'contact'}] %}
        <ul class="right flex" style="justify-content: space-between">
            {% for entry in navEntries %}
                <li>
                    <a href={{ entry.url }} class="text-white">{{ entry.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
</nav>