<nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
        {% set navEntries = craft.entries.section('navigation').all() %}
        <ul class="right flex" style="justify-content: space-between">
            {% nav entry in navEntries %}
                <li class="{% if entry.hasDescendants() %}has-dropdown{% endif %}">
                    <a href="{{ entry.url }}" class="text-white">{{ entry.title }}</a>
                    {% ifchildren %}
                        <ul class="dropdown text-white">
                            {% children %}
                        </ul>
                    {% endifchildren %}	
                </li>
            {% endnav %}
        </ul>
    </section>
</nav>